<form action="/restaurant/:id" method="post">

  <input type="hidden" name="id" value="<% DB.exec("SELECT id FROM food;")%>">
  <div class="form-group">
    <label for="type">Food Type</label>
    <input type="text" name="type" placeholder="e.g. Mexican">
  </div>
  <div class="form-group">
    <label for="cost">Cost</label>
    <input type="text" name="cost" placeholder="e.g. $40">
  </div>
  <div class="form-group">
    <label for="rating">Rating</label>
    <input type="text" name="rating" placeholder="e.g. Five Stars">
  </div>

  <button type="submit" class ="btn btn-default btn-lg">Let's Goooo!</button>
</form>
